<nav class="navigation">
  <section class="container">
    <!-- Logo 和站点标题 -->
<a href="/" class="navigation-title" style="display: flex; align-items: center; gap: 10px;">
  <img src="/images/logo-globaloong.png" alt="Logo" style="height: 40px;">
  <span>{{ .Site.Title }}</span>
</a>
    <!-- 导航菜单按钮 -->
    <input type="checkbox" id="menu-toggle" />
    <label class="menu-button float-right" for="menu-toggle">
      <i class="fa-solid fa-bars fa-fw" aria-hidden="true"></i>
    </label>

    <!-- 菜单项 -->
    <ul class="navigation-list">
      {{ with .Site.Menus.main }}
        {{ range sort . }}
          <li class="navigation-item">
            <a class="navigation-link {{ .Params.class }}" href="{{ index (apply (slice .URL) (.Params.urlFunc | default "relLangURL") "." ) 0 }}">{{ .Name }}</a>
          </li>
        {{ end }}
      {{ end }}
    </ul>
  </section>
</nav>
